/* Redesign CSS 2017-11-08 Mitchell Burton */

/* Base colours:
Background: #DEFFDE
Background 2: #89AE89
Body Text: #003F00
Header Text: #4F964F
Highlights: #5EDE5E

These are subject to change roles */

/* Base selectors */

html {
    background-color: #89AE89;
    color: #003F00;
    font-size: 18px;
    font-family: 'Zilla Slab', serif;
    font-weight: 500;
}

main {
    background-color: #DEFFDE;
    margin: auto;
    padding: 1em;
    width: 80%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: #4F964F;
    font-family: 'Lato', sans-serif;
}

h1 {
    text-align: center;
}
