<header>
  <div class="header-wrap">
    <div class="header-left">
      <h1>{{site.title|escape|upcase}}</h1>
    </div>
    <div class="header-right" title="Click for New Byline">
      <p>Web Design and Development</p>
    </div>

    <nav class="desktop-nav">
      <div class="nav-item-wrap">
        <a href="/"><div class="nav-item nav-home"><p>Home</p></div></a>
        <a href="/posts"><div class="nav-item nav-blog"><p>Blog</p></div></a>
        <a href="/projects"><div class="nav-item nav-projects"><p>Projects</p></div></a>
      </div>
    </nav>
  </div>

  <nav class="mobile-nav" id="mobile-nav">
    <ul class="nav-items" id="nav-items">
      <li class="first-nav" id="close-nav" onclick=closeNav()></li>
      <li class="first-nav first-nav-desktop"></li>
      <a href="/"><li class="nav-home">Home</li></a>
      <a href="/posts"><li class="nav-blog">Blog</li></a>
      <a href="/projects"><li class="nav-projects">Projects</li></a>
      <a href="https://github.com/perfect5th/"><li class="last-nav">Github {% octicon mark-github %}</li></a>
    </ul>
  </nav>

  <div class="hamburger" id="hamburger"><div onclick=toggleNav()>
    <svg id="hamburger-icon" xmlns="http://www.w3.org/2000/svg" height="48" width="48" viewBox="0 0 48 48">
      <g transform="translate(0 -1004.362)" fill="#5f3b27">
        <rect id="ham-top-bar" rx="1" ry="1" y="1013.773" x="8.554" height="5.179" width="30.893"/>
        <rect id="ham-mid-bar" width="30.893" height="5.179" x="8.554" y="1025.773" ry="1" rx="1"/>
        <rect id="ham-bot-bar" rx="1" ry="1" y="1037.773" x="8.554" height="5.179" width="30.893"/>
      </g>
    </svg>
  </div></div>
</header>
