/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/* Here's why we define the base colours - so fancy */

/* Base colours (Minty):
Background: #DEFFDE
Background 2: #89AE89
Body Text: #003F00
Header Text: #4F964F
Highlights: #5EDE5E

These are subject to change roles */

$background: #DEFFDE;
$background2: #89AE89;
$bodytext: #003F00;
$headertext: #4F964F;
$highlights: #5EDE5E;

$background-blue: #C6E6FE;
$background2-blue: #8EC2F5;
$bodytext-blue: #00203F;
$headertext-blue: #4582D1;
$highlights-blue: #5E84DE;

$background-red: #FFC9C9;
$background2-red: #FE8F8F;
$bodytext-red: #830000;
$headertext-red: #E14141;
$highlights-red: #DE5E5E;

$background-orange: #FFDFB6;
$background2-orange: #FFB873;
$bodytext-orange: #8A3A00;
$headertext-orange: #FC9136;
$highlights-orange: #DEAF5E;
