/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/* Here's why we define the base colours - so fancy */

/* Base colours (Minty):
Background: #DEFFDE
Background 2: #89AE89
Body Text: #003F00
Header Text: #4F964F
Highlights: #5EDE5E

These are subject to change roles */

$background: #DEFFDE;
$background2: #89AE89;
$bodytext: #003F00;
$headertext: #4F964F;
$highlights: #5EDE5E;

$background-blue: #DEF1FF;
$background2-blue: #8993AE;
$bodytext-blue: #00203F;
$headertext-blue: #4F5096;
$highlights-blue: #5E84DE;

$background-red: #FFF2F2;
$background2-red: #AE8989;
$bodytext-red: #3F0000;
$headertext-red: #964F4F;
$highlights-red: #DE5E5E;

$background-orange: #FFF4DE;
$background2-orange: #AE9B89;
$bodytext-orange: #3F2A00;
$headertext-orange: #967F4F;
$highlights-orange: #DEAF5E;
