/* Redesign CSS 2017-11-08 Mitchell Burton */

/* Base selectors */

html {
    background-color: $background2;
    color: $bodytext;
    font-size: 18px;
    font-family: 'Zilla Slab', serif;
    font-weight: 500;
}

main {
    background-color: $background;
    border-radius: 1rem;
    margin: auto;
    padding: 1em;
    width: 80%;
    min-height: 100vh;
}

header, footer {
    min-height: 4rem
}

header {
    border-bottom: 3px solid $headertext;
    border-radius: 1rem;
    box-shadow: 0 0.1rem $background2;
}

footer {
    border-top: 3px solid $headertext;
    border-radius: 1rem;
    box-shadow: 0 -0.1rem $background2;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 0 2rem;

    .footer-right {
        display: flex;
        flex-direction: column-reverse;
    }
}

article {
    padding: 0 1em 0.5em 1em;
}

h1, h2, h3, h4, h5, h6 {
    color: $headertext;
    font-family: 'Lato', sans-serif;
}

h1 {
    line-height: 2em;
    margin: 0 0 0.5rem 0;
    text-align: center;
}

h2 {
    margin-top: 2rem;
}

h3 {
    margin-top: 1.5rem;
}

table {
    border: 2px solid $headertext;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
}

th {
    padding-bottom: 0.5rem;
}

td {
    padding: 0 1rem;
}

p {
    line-height: 1.5;
    padding: 0 1em;
}

a {
    color: inherit;
}

a:hover {
    color: $highlights;
}

a.external, dt {
    font-weight: 600;
}

code {
    font-size: 0.8em;
}

dl {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

dd {
    line-height: 1.4;
    margin-bottom: 0.75rem;
}

/* Nav selectors */

.subnav {
    display: none;
}

aside {
    background-color: $background2;
    border: 3px solid $headertext;
    border-radius: 1rem;
    box-shadow: inset 0 0 0.2rem black;
    color: $background;
    float: right;
    font-family: 'Lato', sans-serif;
    margin: 1rem 0 1rem 1rem;
    min-width: 150px;
    width: 20%;

    ul {
        list-style: none;
        padding: 0 1rem;
    }

    li {
        background-color: $bodytext;
        border-radius: 0.5rem;
        cursor: pointer;
        margin: 0.5rem;
        margin-left: 2rem;
        padding: 0.5rem;
        transition-duration: 1s;
        transition-property: margin-left, color;
    }

    li.active {
        margin-left: 0.5rem;
    }

    li:hover {
        margin-left: 0.5rem;
    }

    a {
        text-decoration: none;
    }
}


/* Blog index */

.blog-topper {
    border-bottom: 2px solid $headertext;
    margin-bottom: 1rem;
    max-width: 75%;
    min-height: 8.3rem;
}

.blog-link {
    text-decoration: none;
}

.blog-link:hover {
    color: inherit;
}

.blog-list-item {
    border-radius: 1rem;
    transition-property: background-color, box-shadow;
    transition-duration: 1s;
    margin-bottom: 1rem;
    padding: 1rem;
    padding-top: 1rem;

    h2 {
        transition-property: color;
        transition-duration: 1s;
        margin: 0;
    }

    h2.hovered {
        color: $background;
    }

    p.blog-date {
        margin-top: 0;
        padding: 0;
    }

    .preview {
        p {
            margin: 0;
        }
    }
}

.blog-list-item:hover {
    background-color: $background2;
    box-shadow: inset 0 0 0.4rem black;
}


/* Blog items */

.post {

    h2 {
        margin-bottom: 0;
    }

    p.blog-date {
        margin-top: 0;
        padding: 0;
    }

    .post-content {
        margin-top: 2rem;
    }

}

/* Media selectors */
@media (max-width: 600px) {

    /* Base Selectors */

    html {
        font-size: 14px;
    }

    main {
        width: auto;
    }

    h1 {
        line-height: 1.2;
    }

    article {
        padding: 0;
    }

    h2 {
        margin: 1.3rem 0 1rem 0;
        padding-left: 1rem;
    }

    p, dl {
        font-size: 1.2rem;
    }

    footer {

        .footer-right {
            display: none;
        }

    }

    /* Nav Selectors */

    aside {
        display: none;
    }

    .subnav {
        display: block;
        font-family: 'Lato', sans-serif;

        ul {
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding: 0;
        }

        li {
            background-color: $background2;
            border-radius: 0.5rem;
            color: $background;
            margin: 0 0.5rem;
            padding: 0.5rem;
            text-align: center;
            transition-property: background-color;
            transition-duration: 1s;
        }

        li.active {
            background-color: $bodytext;
        }

        li:hover {
            background-color: $bodytext;
        }

        a {
            flex-grow: 1;
            text-decoration: none;
        }

    }

    /* Blog Index */

    .blog-topper {
        max-width: none;
    }

    .blog-list-item {

        h2 {
            padding-left: 0;
        }

    }

    /* Blog Items */

    .post {

        p.blog-date {
            padding-left: 1rem;
        }

    }

}
