/* Booker CSS 2017-12-29 Mitchell Burton */

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    background-color: $firebrick;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
}

main {
    display: grid;
    grid-template-rows: 9.6rem 1fr;
}

svg {
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

header, article {
    margin: auto;
    max-width: 1200px;
    width: 85%;
}

header {
    display: flex;
    flex-direction: column-reverse;
    font-family: 'Lato', sans-serif;
    margin: 0 7.5%;
    min-height: 100%;

    .header-wrap {
        display: flex;
        flex-direction: column;
        margin-bottom: 15%;
    }

    .header-right {

        p {
            margin: 0;
            padding: 0 0 0 0.25rem;
        }
    }

    h1 {
        color: $linen;
        display: inline;
        font-family: 'Lato', sans-serif;
        font-size: 3rem;
        font-weight: 800;
        line-height: 0.8;
        margin: 0;
    }
}

.articles {
    background-color: $linen;
    color: $darkolivegreen;
    padding-top: 0;

    h2 {
        border-bottom: 2px solid $sandybrown;
        color: $firebrick;
        font-family: 'Lato', serif;
        font-size: 2.6rem;
        font-variant: small-caps;
        font-weight: 900;
        margin-bottom: 1.5rem;
    }

    h3 {
        color: $firebrick;
        font-size: 1.6em;
        margin-bottom: 0;
    }

    p {
        line-height: 1.6;
        font-weight: 400;
    }

    a {
        color: inherit;
        font-weight: 600;
    }

    dl {
        padding: 1rem;

        dt {
            font-weight: 600;
            margin: 0 0 0.5em 0;
        }

        dd {
            margin-left: 0;
            padding-bottom: 1rem;
            line-height: 1.5;
        }
    }
}

/* Index Page Selectors */

@keyframes steam {
    from {
        stroke-dashoffset: 100%;
    }

    to {
        stroke-dashoffset: -100%;
    }
}

.introduction {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;

    .introduction-image {
        margin: 3rem auto 1rem auto;
        max-width: 500px;
        text-align: center;
        width: 100%;

        svg {
            height: 100%;
            max-width: 400px;
            width: 100%;

            .tea-steam {
                animation: steam 5s linear infinite;
                transform-origin: 525px 0px;
            }
        }
    }
}

.fields-infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;

    .field-info {
        padding-bottom: 2rem;
    }

    .field-image {
        cursor: pointer;
        margin-top: 1rem;
        width: 100%;

        svg {
            height: auto;
            width: 100%;
            max-width: 300px;

            .field-arrow {
                transform-origin: 640px 970px;
            }
        }
    }

    .field-text {
        height: 0px;
        opacity: 0;
        overflow: hidden;
        padding: 0 1.5rem;
        text-align: left;
        transition: height 0.75s ease-out;
    }
}

.techs {
    min-height: 225px;
}

.tech-icons {
    background-color: darken($linen, 2.5%);
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;

    .tech-icon {
        cursor: pointer;
        height: 5rem;
        margin-right: 0.5rem;
        width: 5rem;

        svg {
            width: 100%;
            height: auto;
        }

    }
}

.tech-info {
    background-color: darken($linen, 2.5%);
    border-radius: 0 0 0.5rem 0.5rem;
    display: none;
    height: 0;
    margin: 0;
    overflow: hidden;
    opacity: 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: 0.5s ease-out;
    transition-property: height, opacity;
}

.tech-info-initial {
    display: block;
    height: auto;
    opacity: 1;
}

footer {
    color: $linen;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    width: 75%;

    div {
        padding: 1.6em 0;
    }

    .footer-left {
        margin-right: 1.6em;

        a {
            color: $linen;
        }
    }
}

/* Mobile Nav Selectors */
.mobile-nav {
    color: $darkolivegreen;
    font-family: 'Bitter', serif;
    height: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;

    .hamburger {
        font-size: 1.6rem;
        padding: 0.4rem 1rem 0 1rem;
        text-align: right;

        span {
            cursor: pointer;
        }
    }

    .nav-items {
        font-size: 1.2rem;
        list-style: none;
        left: 110px;
        margin-top: 0;
        padding: 0;
        position: relative;
        transition: left 0.5s ease-out;

        a {
            text-decoration: none;
            font-weight: 400;
        }

        li {
            background-color: $linen;
            border-bottom: 1px solid $darkolivegreen;
            border-left: 1px solid $darkolivegreen;
            padding: 1rem;
            transition: background-color 0.5s;
            width: 100%;
        }

        li:hover, li.active {
            background-color: darken($linen, 10%);
        }

        .first-nav {
            background-color: $firebrick;
            border-bottom: none;
            cursor: pointer;
            font-size: 1.4rem;
            font-weight: 900;
            padding-bottom: 0.4rem;
            padding-top: 0;
            text-align: right;

        }

        .first-nav:hover {
            background-color: $darkorange;
        }

        .first-nav-desktop {
            display: none;
        }
    }
}

.desktop-nav {
    display: none;
}

/* Blog selectors */
.posts-wrapper {
    margin: auto;
    margin-bottom: 2rem;
    max-width: 1200px;
    width: 100%;

    .posts {
        display: flex;
        flex-wrap: wrap;

        .title-link {
            text-decoration: none;
        }

        .blog-list-item {
            cursor: pointer;
            max-width: 500px;
            width: 85%;

            .blog-date {
                font-style: italic;
            }
        }
    }
}


@media (min-width: 980px) {

    header {
        margin: 0 12%;

        .header-wrap {
            flex-direction: row;
            margin-bottom: 0;

            .header-left {
                max-width: 339px;
            }

            h1 {
                font-size: 5rem;
            }

            .header-right {
                display: flex;
                flex-direction: column-reverse;
                max-width: 7rem;
                padding-bottom: 0.4rem;
            }
        }
    }

    .mobile-nav {
        display: none;
    }

    .desktop-nav {
        display: flex;
        flex-direction: column-reverse;
        margin-left: 10%;

        .nav-item-wrap {
            display: flex;
        }

        .nav-item {
            background-color: fade-out($linen, 0.2);
            border-radius: 0.1rem 0.1rem 0 0;
            font-family: 'Lato', sans-serif;
            font-variant: small-caps;
            height: 95%;
            margin-right: 1rem;
            padding: 1.4rem 1rem 1.2rem 1rem;
            text-align: center;
            width: 6rem;

            p {
                margin: 0;
            }
        }

        .nav-item-active {
            background-color: $linen;
            height: 100%;
        }

        a {
            color: $darkolivegreen;
            text-decoration: none;
        }
    }

    .introduction {

        .introduction-image {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 3rem auto 1rem auto;
            width: 20rem;
        }

        .introduction-text {
            width: 60%;
        }
    }

    .fields-infos {

        .field-info {
            width: 30%;
            margin-right: 1.5%;
        }
    }

}

@media (min-width: 1584px) {
    header {

        .header-wrap {

            .header-left {
                max-width: none;
            }
        }
    }
}
