/* Redesign CSS 2017-11-08 Mitchell Burton */

/* Base colours:
Background: #DEFFDE
Background 2: #89AE89
Body Text: #003F00
Header Text: #4F964F
Highlights: #5EDE5E

These are subject to change roles */

/* Base selectors */

html {
    background-color: #89AE89;
    color: #003F00;
    font-size: 18px;
    font-family: 'Zilla Slab', serif;
    font-weight: 500;
}

main {
    background-color: #DEFFDE;
    border-radius: 1rem;
    margin: auto;
    padding: 1em;
    width: 80%;
    min-height: 100vh;
}

header, footer {
    min-height: 4rem
}

header {
    border-bottom: 3px solid #4F964F;
    border-radius: 1rem;
    box-shadow: 0 0.1rem #89AE89;
}

footer {
    border-top: 3px solid #4F964F;
    border-radius: 1rem;
    box-shadow: 0 -0.1rem #89AE89;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 0 2rem;

    .footer-right {
        display: flex;
        flex-direction: column-reverse;
    }
}

article {
    padding: 0 1em 0.5em 1em;
}

h1, h2, h3, h4, h5, h6 {
    color: #4F964F;
    font-family: 'Lato', sans-serif;
}

h1 {
    line-height: 2em;
    margin: 0 0 0.5rem 0;
    text-align: center;
}

h2 {
    margin-top: 2rem;
}

h3 {
    margin-top: 1.5rem;
}

table {
    border: 2px solid #4F964F;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
}

th {
    padding-bottom: 0.5rem;
}

td {
    padding: 0 1rem;
}

p {
    line-height: 1.5;
    padding: 0 1em;
}

a {
    color: inherit;
}

a:hover {
    color: #5EDE5E;
}

a.external, dt {
    font-weight: 600;
}

code {
    font-size: 0.8em;
}

dl {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

dd {
    line-height: 1.4;
    margin-bottom: 0.75rem;
}

/* Nav selectors */

aside {
    background-color: #89AE89;
    border: 3px solid #4F964F;
    border-radius: 1rem;
    box-shadow: inset 0 0 0.2rem black;
    color: #DEFFDE;
    float: right;
    font-family: 'Lato', sans-serif;
    margin: 1rem 0 1rem 1rem;
    min-width: 20%;

    ul {
        list-style: none;
        padding: 0 1rem;
    }

    li {
        background-color: #003F00;
        border-radius: 0.5rem;
        cursor: pointer;
        margin: 0.5rem;
        margin-left: 2rem;
        padding: 0.5rem;
        transition-duration: 1s;
        transition-property: margin-left, color;
    }

    li.active {
        margin-left: 0.5rem;
    }

    li:hover {
        margin-left: 0.5rem;
    }

    a {
        text-decoration: none;
    }
}
