<!DOCTYPE html>
<html id="root" class="vert">

  {% include head.html %}

  <body>

    <aside class="scheme-picker">
      <div class="colour-choice" data-colour="vert"></div>
      <div class="colour-choice" data-colour="rouge"></div>
      <div class="colour-choice" data-colour="bleu"></div>
      <div class="colour-choice" data-colour="orange"></div>
    </aside>

    <aside class="scheme-picker-mobile">
      <div class="col">
        <div class="colour-choice" data-colour="vert"></div>
        <div class="colour-choice" data-colour="rouge"></div>
      </div>
      <div class="col">
        <div class="colour-choice" data-colour="bleu"></div>
        <div class="colour-choice" data-colour="orange"></div>
      </div>
    </aside>

    <main>
      {% include header.html %}

      {{ content }}

      {% include footer.html %}
    </main>


  </body>

</html>
