---
layout: default
---

<nav class="subnav">
  <ul>
    <a href="/"><li>Home</li></a>
    <a href="/posts"><li class="active">Blog</li></a>
    <a href="/projects"><li>Projects</li></a>
  </ul>
</nav>

<aside class="sidenav">
  <nav>
    <ul>
      <a href="/"><li>Home</li></a>
      <a href="/posts"><li class="active">Blog</li></a>
      <a href="/projects"><li>Projects</li></a>
    </ul>
  </nav>
</aside>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <h2 class="post-title" itemprop="name headline">{{ page.title }}</h1>
  <p class="blog-date"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
